<h1>Demo#index</h1>
<p>Selamat Belajar</p>
<p>Hari yang melelahkan</p>

 <!-- <%= params[:id] %> -->
ID   : <%= params[:id].to_i %> <br />
NEXT PAGE : <%= params[:page].to_i + 1 %>

<hr />
<%= params.inspect %>
<%= link_to('Go Back to hello page',{:action => 'hello', :id => 20, :page => 5}) %>