<% @page_title = "Section List" %>

<div class="section list">
  <h2>Subjects</h2>
  
  <%= link_to("Add New Section", {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@sections.size, 'section') %></div>
  <table class="listing" summary="Section list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Section</th>
      <th>Visible</th>
      <th>Content_type</th>
      <th>Content</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr class= "<%= cycle('odd', 'even') %>" >
      <td><%= section.position %></td>
      <td><%= section.name %></td>
      <td class="center"><%= status_tag(section.visible) %></td>
      <td><%= section.content_type %></td>
      <td><%= section.content %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => section.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => section.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => section.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>