<% @page_title = "Page List" %>

<div class="page list">
  <h2>Subjects</h2>
  
  <%= link_to("Add New Page", {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@pages.size, 'page') %></div>
  <table class="listing" summary="Page list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
    <tr class= "<%= cycle('odd', 'even') %>" >
      <td><%= page.position %></td>
      <td><%= page.name %></td>
      <td><%= page.permalink %></td>
      <td class="center"><%= status_tag(page.visible) %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => page.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => page.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => page.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>